.app__order-main {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
}

.app__order-cart {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 2px;
}

.app__order-orderdeets {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2px;
}

.app__order_main{
  display: flex;
}

.app__cart_price{
  display: flex;
  width: 40%;
}

.app__order-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  padding: 2px;
  height: fit-content;
}

@media screen and (max-width: 1150px) {


.Cart__icon > svg{
  height: 40%;
  width: 40%;

}

  
}

@media screen and (max-width: 1150px) and (min-width: 768px) and (orientation:portrait){

}

@media screen and (max-width: 768px) {

        
}

@media screen and (max-width: 650px) {

    

}


@media screen and (max-width: 325px) {

}



