form{
    height: 100%;
    width: 100%;
}

.form__field{
    display: flex;
    width: 100%;
    margin: 2%;
}

.form__field > label{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

label > span{
    display: flex;
    width: 40%;
    text-align: center;
}

label > input{
    display: flex;
    width: 60%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 5px;
}

.form_submit{
    display: flex;
    justify-content: flex-end;
    padding-inline: 20px;
}

.form_submit > button{
    padding: 1%;
    border-radius: 5px;
}

.form_submit > button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}