.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.arrow.collapsed {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.collapsible-content {
  padding: 10px;
  display: block;
  transition: max-height 0.3s ease;
  max-height: 500px; /* Set an appropriate value */
  overflow: hidden;
}

.collapsible-content.collapsed {
  display: none;
}

@media screen and (max-width: 1150px) {



}

@media screen and (max-width: 1150px) and (min-width: 768px) and (orientation:portrait){

  .collapsible-header{
    font-size: 16px;
  }

  .collapsible-content {
    font-size: 15px;
  }


}

@media screen and (max-width: 768px) {

  .collapsible-header{
    font-size: 14px;
  }

  .collapsible-content {
    font-size: 13px;
  }

  .collapsible-content > select{
    width: 20%;
  }

  .collapsible-content select, .collapsible-content input{
    width: 75%;
    font-size: 10px;
  }

}

@media screen and (max-width: 650px) {

  .collapsible-header{
    font-size: 10px;
  }

  .collapsible-content {
    font-size: 11px;
  }

  .collapsible-content select, .collapsible-content input{
    width: 60%;
  }

}


@media screen and (max-width: 450px) {

  .collapsible-header{
    padding:4%;
    font-size: 10px;
  }

  .form__submit{
    padding-top: 4%;
  }

  .form__submit > *{
    font-size: 10px;
  }

  .collapsible-content {
    font-size: 8px;
  }

  .collapsible-content select, .collapsible-content input{
    width: 80%;
    font-size: 8px;
  }

}