.Cart__main {
    display: flex;
    width: 100%;
    padding: 2rem;
    margin: 1rem;
    flex-direction: column;
}

.app__cart-img {
    display: block;
    width: 90px;
    padding: 1%;
}

.Cart__item {
    display: flex;
    flex-direction:row;
    width: 100%;
    margin: 20px 0;
    align-items: center;
    border-radius: 10px;
    background-color: lightgray;
}

.Cart__icon {
    display: flex;
    width: 30%;
    justify-content: center;
}

.Cart__detail {
    display: flex;
    width: 70%;
    flex-direction: column;
}
        
            
.Cart__detail-p {
    display:flex;
    /* padding: 1rem; */
    justify-content: space-around;
    /* width: 60; */
    margin-block:1%;
    margin-right: 1%;
    border-radius: 15px;
    background-color: white;
}

.Cart__detail-p div{
    padding: 0 5px;
}